@model PCCapstoneFall2023.Models.Drill
@{
    
    ViewData["Title"] = "Create Drills";
}
@ViewBag.Test
<form class="form-horizontal" method="post">
    <div class="form-group">
        <label class="control-label">DrillQuestID</label>
        <input asp-for="DrillQuestID" />
    </div>
    <div class="form-group">
        <label class="control-label">DrillDifficulty</label>
        <input asp-for="DrillDifficulty" />
    </div>
    <div class="form-group">
        <label class="control-label">DrillLength</label>
        <input asp-for="DrillLength" />
    </div>
    <div class="form-group">
        <label class="control-label">DrillRandomized</label>
        <input asp-for="DrillRandomized" />
    </div>
    <div class="form-group">
        <label class="control-label">DrillTime</label>
        <input asp-for="DrillTime" />
    </div>
    <div class="form-group">
        <label class="control-label">answer</label>
        <input asp-for="answer" />
    </div>
    <div class="form-group">
        <Button asp-action="Create" class="btn btn-primary">Submit</Button>

    </div>
    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8Inyxgp63fRFqUePGvuI5jGZsloJu1L7X9le1gy7NCIlSduCRx9jDQClrV9pOTTmqUyXnJBXhmrjcUVDJyDUMm7-MF_9rK8aAZdRdlOri7FmKVkRe_2v5LIHGKFcTjPrWPYnc9AdSbomkiOSaTEg7RU" />
</form>