@model PCCapstoneFall2023.Models.Drill
@{
    
    ViewData["Title"] = "Create Drills";
}

<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label">DrillQuestID</label>
        <input asp-for="DrillQuestID" />
    </div>
    <div class="form-group">
        <label class="control-label">DrillDifficulty</label>
        <input asp-for="DrillDifficulty" />
    </div>
    <div class="form-group">
        <label class="control-label">DrillLength</label>
        <input asp-for="DrillLength" />
    </div>
    <div class="form-group">
        <label class="control-label">DrillRandomized</label>
        <input asp-for="DrillRandomized" />
    </div>
    <div class="form-group">
        <label class="control-label">DrillTime</label>
        <input asp-for="DrillTime" />
    </div>
    <div class="form-group">
        <label class="control-label">answer</label>
        <input asp-for="answer" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>

    </div>

</form>