@{
    ViewData["Title"] = "Teacher Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your teacher page</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a asp-area="" asp-controller="Teacher" asp-action="CreateDrills">Create drills</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Teacher" asp-action="DrillResults">Drill Results for your Students</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="StudentRank">Student Ranks</a>
        </li>
    </ul>
</div>
