@{
    ViewData["Title"] = "Admin Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your admin page</h1>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="CreateAccounts">Create Accounts</a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Home" asp-action="DeleteAccounts">Delete Accounts</a>
        </li>
    </ul>
</div>
