@{
    ViewData["Title"] = "Drills";
}

<div class="text-center">
    <h1 class="display-4">Drills you can take:</h1>


@*    <p>Please Select The level of difficulty you would like:</p>
    <form action="ChooseLevel" method="post">
         <div class="form-group">
            <label asp-for="LevelID">Difficulty</label>
            <select asp-for="LevelID" class="form-control">
                <option value="">select a level</option>
                @foreach (Level l in ViewBag.Levels)
                {
                    <option value="@l.LevelID">@l.Name</option>
                }
            </select>
        </div> 
        

    </form>
    *@
    <p>Placeholder Text</p>
</div>
